extends layout

block content
  h1.tableHeader Hello my friend
  button#register.btn.btn-primary(type='button' data-toggle="tooltip" data-placement="bottom" title="Ahh... fresh meat!") Register
  button#signin.btn.btn-primary(type='button' data-toggle="tooltip" data-placement="bottom" title="Stay awhile and listen") Sign in