doctype html
head
  title User management
  link(rel='stylesheet' type='text/css' href='style.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
h1.tableHeader User management
div
  button#newUser.btn.btn-primary Add User
table
  tr
    th First Name
    th Last Name
    th Age
    th Phone
    th Email
    th Gender
    th(colspan='2') Management
  tr
    td user.FirstName
    td user.LastName
    td user.Age
    td user.Phone
    td user.Email
    td user.Gender
    td
      button.editUser.btn.btn-primary(data-userid='${usersList[i].Id}') Edit
      button.deleteUser.btn.btn-danger(data-userid='${usersList[i].Id}') Delete
#usersModal
script(src='usersTable.js')
script(src='usersModal.js')
script(src='client.js')