extends layout

block content
  h1.tableHeader User management
  div
    nav.navbar.navbar-light.bg-light
      span.navbar-brand.mb-0.h1 Toolbar:
      button#register.btn.btn-primary(type='button' data-toggle="modal" data-target="#usersModal" title="Ahh... fresh meat!") Register
      button.btn.btn-primary(type='button' data-toggle='collapse' data-target='#searchArea' aria-controls='searchArea') Search
    #searchArea.collapse
      .card.card-body
        input#Search.form-control(type='text' name='Search' placeholder='Search')
  div
    nav.paginationbar(aria-label='Page navigation example')
      ul.pagination
        li.page-item
          a#page-previous.page-link(href='#') Previous
        li.page-item
          a#page-current.page-link 1
        li.page-item
          a#page-next.page-link(href='#') Next
  table.table
    thead.thead-dark
      tr
        th(data-dbName='FirstName' data-sortingOrder='ASC') First Name
        th(data-dbName='LastName' data-sortingOrder='ASC') Last Name
        th(data-dbName='Age' data-sortingOrder='ASC') Age
        th(data-dbName='Phone' data-sortingOrder='ASC') Phone
        th(data-dbName='Email' data-sortingOrder='ASC') Email
        th(data-dbName='Gender' data-sortingOrder='ASC') Gender
        th(colspan='2') Management
    tbody#users
  #usersModal.modal(tabindex='-1' role='dialog' aria-labelledby='usersModal', aria-hidden='true' data-backdrop='static' data-keyboard='false')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4#modal-title
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form#userForm(method='POST')
            .form-group
              label(for='FirstName') Please enter First Name:
              input#FirstNameI.form-control(type='text' name='FirstName' placeholder='John' required='' minlength='5' maxlength='30')
            .form-group
              label(for='LastName') Please enter Last Name:
              input#LastNameI.form-control(type='text' name='LastName' placeholder='Doe' required='' minlength='5' maxlength='30' value='Sychova')
            .form-group
              label(for='Age') Please enter your age:
              input#AgeI.form-control(type='number' name='Age' placeholder='333' required='' min='18' value='18')
            .form-group
              label(for='Phone') Please enter your phone:
              input#PhoneI.form-control(type='text' name='Phone' placeholder='(11)111 11 11' required='' minlength='12' maxlength='30' value='(11)111 11 11')
            .form-group
              label(for='Email') Please enter your email:
              input#EmailI.form-control(type='text' name='Email' placeholder='john.doe@gmail.com' required='' pattern='\\S+@\\S+\\.\\S+' value='00@00.00')
            .form-group
              label(for='Gender') What is your gender
              select#GenderI.form-control(name='Gender')
                option(value='Female') Female
                option(value='Male') Male
                option(value='Transgender female') Transgender female
                option(value='Transgender male') Transgender male
        .modal-footer
          span.validationWarning
          button#addUser.btn.btn-success(data-dismiss='modal') Add
          button#updateUser.btn.btn-success(data-dismiss='modal') Save
          button#formReset.btn.btn-secondary Reset
          button.btn.btn-link.modal-close(data-dismiss='modal') Close