doctype html
head
  link(rel='stylesheet' type='text/css' href='/style.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
body
  div.header
    nav.navbar.navbar-light.bg-light
      a(href='/')
        img(alt='Logo' src='/images/logo.png' width='136' height='56')
      h2 Header
  block content
  div.footer
      nav.navbar.navbar-light.bg-light
        a(href='/')
          img(alt='Logo' src='/images/logo.png' width='136' height='56')
        h2 Footer
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
script(src='/scripts/modules/userModule.js')
script(src='/scripts/app.js')